/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

body {
  margin: 0px;
}

.container {
  background: black;
  height: 60px;
}

/* header */

.container header span {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.7em;
  color: purple;
  letter-spacing: 1px;
  font-weight: bolder;
  text-decoration: none;
}

#logo {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: 1px;
  text-decoration: none;
}
#logo :hover {
  color: white;
  text-decoration: none;
}

.menuBar {
  float: right;
  padding-right: 10px;
}
.menuBar li{
  float: left;
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}
.menuBar li a {
  text-decoration: none;
  color: #aaa;
}

/* footer */
footer {
  background: black;
  color: white;
  height: 60px;
  position: fixed bottom;
  width: 100%;
  bottom: 0px;
}

footer span {
  float: left;
  color: #aaa;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 30px;
}


/* home */

.main-image {
  height: 530px;
  width: 100%;
  line-height: 1;
}

h2.home {
  color: purple;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 10px;
}



/* body */

h4 {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 50px;
  border-bottom: solid 2px #aaa;
}

.flash-success {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  height: 40px;
  font-size: 25px;
  color: green;
  background: palegreen;
  font-weight: bold;
}
.flash-danger {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  height: 40px;
  font-size: 25px;
  color: red;
  background: lightpink;
  font-weight: bold;
}
/* 最新情報 */

h2.news-index {
  color: purple;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 10px;
}

a.new_news {
  float: right;
  vertical-align: bottom;
  margin-top: -15px;
  margin-right: 10px;
  border: solid 1px;
  border-radius: 5px;
  height: 28px;
  width: 75px;
  vertical-align: middle;
  text-align: center;
  color: purple;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
a.new_news:hover {
  color: white;
  background: purple;
}
.post_news {
  vertical-align: bottom;
  border: solid 1px;
  border-radius: 5px;
  padding-top: 0px;
  height: 25px;
  width: 70px;
  text-align: center;
  color: purple;
  background: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}
.post_news:hover {
  color: white;
  background: purple;
}

#post_news_label {
  font-weight: bold;
  vertical-align: bottom;
  padding-left: 10px;
}

div#post_news {
  margin-bottom: 50px;
}

.news-day {
  font-size: 12px;
  font-weight: bolder;
  margin-top: 22px;
  margin-left: 25px;
  margin-bottom: 5px;
}

.news-title {
  margin-top: 5px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.news-pdfs {
  border-bottom: solid 1px purple;
  padding-bottom: 30px;
  margin-top: 5px;
  margin-left: 20px;
}

.news-moreToSee {
  margin-left: 10px;
  color: blue;
}
.news-moreToSee:visited {
  color: blue;
}

/* メンバー */
.member-grade {
  list-style-type: square;
  margin-top: 30px;
  margin-bottom: 7px;
}

.member-name {
  list-style-type: none;
  background: purple;
  color: white;
  font-weight: bolder;
  width: 320px;
  height: 35px;
  text-align: center;
  padding-top: 8px;
}

.member-college {
  list-style-type: none;
  text-align: center;
  width: 320px;
  font-size: 13px;
  padding-top: 7px;
}

.member-post {
  list-style-type: none;
  text-align: center;
  width: 320px;
  font-size: 13px;
  font-weight: bolder;
  padding-top: 7px;
  color: purple;
}

.member-content {
  width: 318px;
  margin-bottom: 15px;
  border: solid 1px #999999;
}

/* ログイン */
h1.login {
  text-align: center;
}

ul.login {
  list-style-type: none;
  padding: 0;
}

li.login {
  text-align: center;
}

.login-form {
  width: 250px;
  height: 30px;
  margin-bottom: 30px;
  border-radius: 2px;
  border: solid 1px silver;
  box-shadow: 1px 1px 1px gray;
}

.login-submit {
  width: 250px;
  height: 40px;
  background-color: dodgerblue;
  color: white;
  font-weight: bolder;
  border-radius: 4px;
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2);
  border: solid 0.1px silver;
  margin-bottom: 40px;
}
