// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.draw-h2 {
  border-bottom: 4px solid purple;
  margin: 30px auto 30px 10px;
}

.draw-tab {
  display: inline-block;
  width: 80px;
  height: 35px;
  margin-left: 5px;
  border: solid 1px black;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  text-align: center;
  padding-top: 5px;
  font-size: 18px;
  text-decoration: none;
  color: black;
}

.draw-tab-line {
  margin-top: 0;
  background-color: black;
  height: 2px;
}
