// Place all the styles related to the singles_tournament controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.livescore {
border-collapse: collapse; 
}

span.livescore-player-num {
  font-size: 12px;
  padding-right: 6px;
}

span.livescore-player-name {
  font-size: 12px;
}

span.livescore-player-college {
  font-size: 12px;
}

p.livescore-vs {
  margin: 0;
  text-align: center;
}

td.livescore-match {
  border: solid 1px black;
}
