// Place all the styles related to the singles_tournament controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.livescore-match {
  border-collapse: collapse;
  margin: 3px;
}

td.livescore-player {
  border: solid 1px silver;
  font-size: 12px;
  width: 140px;
}

td.livescore-score {
  border: solid 1px silver;
  width: 18px;
  text-align:center;
}

span.livescore-player-num {
  display: inline-block;
  width: 25px;
}

div#livescore-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  display: none;
  z-index: 1;
}

div#livescore-modal {
  width: 350px;
  height: 150px;
  position: fixed;
  border: solid 0.1px silver;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: white;
  display: none;
  z-index: 2;
}
