// Place all the styles related to the singles_tournament controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.livescore-match {
  border-collapse: collapse;
  margin: 3px;
}

td.livescore-player {
  border: solid 1px silver;
  font-size: 12px;
  width: 140px;
}

td.livescore-score {
  border: solid 1px silver;
  width: 18px;
  text-align:center;
}

span.livescore-player-num {
  display: inline-block;
  width: 25px;
}
